@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,600;0,700;0,800;0,900;1,400&display=swap");
@font-face {
  font-family: "painter";
  src: url("../fonts/Painter_PERSONAL_USE_ONLY.ttf");
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.ttf");
}

:root {
  --color-red: #f98169;
}

$bp-largest: 76em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-mediumest: 50em; // 800px
$bp-small: 41.75em; // 668px
$bp-smallest: 35.5em; // 568px
$bp-Xsmallest: 28em; // 448px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  // @media only screen and (max-width: $bp-large) {
  //   font-size: 57%;
  // }
}

body {
  font-weight: 400;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  font-family: "Mulish";
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}
